<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Texty Bear</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header-bar flex-hori">
    
        <div class="logo-holder">
            <a href="{{ url_for('home') }}">
                <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
            </a>  
        </div>
    </div>

    <div class="vertical-space"></div>
    <div class="vertical-space"></div>

    <div class="main-body" id="main-body">
        <div class="wrapper flex-vert" id="content-to-disable">
            {% block content %} {% endblock %}
            
            {% for message in get_flashed_messages() %}
                <div class="alert-box">{{ message }}</div>
            {% endfor %}

            {% block script %} {% endblock %}
        </div>
    </div>
</body>
</html>