<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>

        .alert {
            padding: 20px;
            margin: 5px;
            color: #970020;
            background-color: #ffd5de;
        }

    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="nav-bar">
        <div class="wrapper">
            <div class="nav-element"><a class="nav-text" href="{{ url_for('home') }}">Home</a></div>
            <div class="nav-element"><a class="nav-text" href="{{ url_for('results') }}">Results</a></div>
            <div class="nav-element"><a class="nav-text" href="{{ url_for('yt_transcribe') }}">Transcribe YouTube</a></div>
            <div class="nav-element"><a class="nav-text" href="#">[About]</a></div>
        </div>
    </div>
    
    <div class="vertical-space"></div>

    <div class="main-body">
        <div class="wrapper flex-vert">
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>