{% extends 'base.html' %}

{% block content %}
    {% if transcript_results|length == 0 %}
    <form method="post">
        <input class="url-input-field" type="text" name="yt_url"
               placeholder="YouTube URL"
               value="{{ request.form['title'] }}"></input>
        <br>
        <div class="mid-holder flex-hori">
            <button class="main-button" type="submit">Transcribe</button>
        </div>
    </form>
    {% else %}
        {% for transcript_result in transcript_results %}
            <div class='result_card'>
                <div class="result_card_top">
                    {{ transcript_result['title'] }}
                </div>
                <div class="result_card_mid"></div>
                <div class="result_card_bot">

                
                        {{ transcript_result['content'] }}

                </div>
            </div>
        {% endfor %}
    <form method="post">
        <div class="mid-holder flex-hori">
            <button class="main-button" type="submit">Return</button>
            <button class="main-button" type="submit">Download Text File</button>
        </div>
    </form>
    {% endif %}
{% endblock %}