{% extends 'base.html' %}

{% block content %}
    <div class="mini-body-title">{% block title %} Transcribe a YouTube Video {% endblock %}</div>
    <form method="post">
        <label for="yt_url">YouTube URL</label>
        <br>
        <input class="url-input-field" type="text" name="yt_url"
               placeholder="YouTube Link"
               value="{{ request.form['title'] }}"></input>
        <br>

        <button class="main-button" type="submit">Transcribe</button>
    </form>
{% endblock %}