{% extends 'base.html' %}

{% block content %}
    <div class="mini-body-title">{% block title_card %} Transcribe a YouTube Video {% endblock %}</div>
    <form method="post">
        <label for="yt_url">YouTube URL</label>
        <br>
        <input class="url-input-field" type="text" name="yt_url"
               placeholder="YouTube Link"
               value="{{ request.form['title'] }}"></input>
        <br>

        <button class="main-button" type="submit">Transcribe</button>
    </form>
    {% for transcript_result in transcript_results %}
        <div class='result_card'>
            <div class="result_card_top">
                {{ transcript_result['title'] }}
            </div>
            <div class="result_card_mid"></div>
            <div class="result_card_bot">
                <div class="result_card_bot_left">
                    Transcription
                </div>
                <div class="result_card_bot_right">
                    {{ transcript_result['content'] }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}